body {
	font-family: Verdana, sans-serif;
	font-size: 14px;
}

body.md-dialog-is-showing  {
    overflow-x:visible !important;
}

#banner > a:hover {
	background-color: #012949;
	outline: none;
	box-shadow: none;
}
prm-logo .product-logo {
	padding: 0 !important;
}
prm-search-result-list .pages-separated-with-gaps .results-title:not(.results-title-favorites) {
    padding-left: 64px;
}

.layout-align-end, .layout-align-end-center, .layout-align-end-end, .layout-align-end-start, .layout-align-end-stretch {
	justify-content: flex-start;
}

md-list-item {
	border-left: 3px solid #fff !important;
}
md-list-item:hover {
	border-left: 3px solid #FFC533 !important; /* IC gold */
}
._md-subheader-inner > ._md-subheader-content > .text {
	font-weight: normal;
}

prm-brief-result-container {
	background-color: #fff !important;
}

#full-view-container {
	outline: none !important;
}
.ic-links-area {
	color: #666;
}
.ic-trace-link, .ic-sms-link, .ic-notify-link, .ic-report-problem-link {
	color: #666 !important;
}
.ic-notify-link:hover, .ic-notify-link:active, .ic-notify-link:focus,
.ic-trace-link:hover, .ic-trace-link:active, .ic-trace-link:focus,
.ic-sms-link:hover, .ic-sms-link:active, .ic-sms-link:focus,
.ic-report-problem-link:hover, .ic-report-problem-link:active, .ic-report-problem-link:focus {
	color: #000;
	text-decoration: underline;
	background-color: #fff;
	box-shadow: none;
}

.ic-more-actions {
	display: flex;
	justify-content: center;
}
.ic-more-actions button {
	display: flex;
	justify-content: center;
}
.ic-more-actions .button-text {
	font-size: 10px;
	font-weight: 600;
}

prm-action-list md-nav-bar ul._md-nav-bar-list li.md-nav-item {
	margin: 0 10px;
}

prm-topbar {
	height: 60px;
}


.ic-map-div {
	position:relative;
	min-height: 500px;
}

/* these make sure that the map doesn't get cut off */
@media (min-width: 800px) {
	.ic-map-div {
		min-height: 380px;
	}
}
@media (min-width: 1100px) {
	.ic-map-div {
		min-height: 420px;
	}
}
@media (min-width: 1400px) {
	.ic-map-div {
		min-height: 560px;
	}
}

.ic-map-img {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
}
.ic-map-canvas {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	z-index: 50;
}
.ic-loc-message {
	font-weight: bold;
	margin-left: 1em;
}

.ic-debug {
	background-color: blue;
	color: white;
}

.full-view-inner-container {
	background-color: #fff !important;
}
.alert-bar {
	background-color: #FFD11A; /* gold */
	border-color: #FFD11A;
}

h3.light-text {
	font-size: medium;
	padding-left: 1em;
}

prm-icon.giant-icon {
	display: none;
}
#ic-ebsco-link {
	color: #44707b;
}
#ic-ebsco-link svg {
	height: 16px;
	width: 16px;
}
/* Make animated pin icon match the static pin color */
.pinDummy prm-icon {
	color: #4DB8FF;
}

prm-search-bar, prm-browse-search-bar, prm-atoz-search-bar {
	background-color: #013158;
}
.advanced-search-backdrop {
	background-color: #013158;
}

.available-facets {
	background-color: #F3F3F3;
}
.available-facets button h3 {
	color: #008dc6;
}

md-checkbox[aria-label="Expand My Results"] {
	display: none;
}

#item-details > div > div {
	border-bottom: 1px solid #ddd;
	padding-bottom: 4px;
}

prm-static[section="homepage"] md-card.default-card {
	visibility: hidden;
}

#tags, #getit_link2 {display:none;} 
button[aria-label="Tags"], button[aria-label="More"] {display:none;} 

/*Correct overlapping link in periodical records*/
prm-location-items > .tab-content-header {
	position: relative;
	padding-bottom: 2em;
}
prm-location-items .layout-column .text-link {
	position: absolute;
	bottom: -1em;
	display: block;
	padding-bottom: 1em;
}

/* Citation Tab */
prm-citation prm-copy-clipboard-btn-after {
	display: none;
}

/* Image isn't clickable, so don't show a pointer. */
prm-full-view-service-container .media-thumbnail > a {
	cursor: default;
}

/* Make the floating select boxes appear *inside* the facets box */ 
prm-facet-group .md-chips > .md-chip {
	margin-left: 1.2em;
}

/* Hide "Ithaca College Library" in the location area */
.best-location-library-code.locations-link {
    display: none !important;
}

button.section-title svg {
	color: red;
}

.results-title {
	display: flex;
	justify-content: space-between;
}

/* Hide facet Open access */ 
/*[data-facet-value="tlevel-open_access"] {
	display: none !important;
}*/

prm-citation button {
	padding-top: 0 !important;
}

/* position of LibChat slide-out widget */
.lcs_slide_out-r { position: fixed; top: 40% !important }

/* Ebsco link */
/*#ic-ebsco-link-block {
	padding-top: 1.5em;
	text-align: center;
}
#ic-ebsco-link {
	color: #fff;
	font-style: italic;
}*/
.button-as-link-mobile > prm-icon[icon-definition="facets-filter"]::before {
	content: 'Tweak your results';
}
